<header class="site-header">
    <div class="row">
        <div class="col">
            <img class="site-header__menu-logo" src="images/menu-logo.svg" alt="holding-cfa-logo">
            <span class="site-header__title">Hire a charterholder</span>
        </div>
        <div class="col">
            <a href="" class="site-header__language active">English</a>
            <a href="" class="site-header__language">Français</a>
            <a href="" class="site-header__menu">
                <img src="images/menu-icon.svg" alt="">
            </a>
        </div>
    </div>
    {% include './navigation.html' %}
</header>