<nav class="nav" data-module="navigation">
    <div class="nav--container bg-blue">
        <a href="" class="close button">
            <img src="images/close-icon.svg" alt="" class="button__icon">
        </a>
        <a href="index.html" class="home button">Home</a>
        <a href="why-hire.html" class="why-hire button">why hire a cfa<br />charterholder?</a>
        <a href="questions.html" class="top-questions button">top questions to ask<br />your wealth manager</a>
        <a href="resources.html" class="resources button">helpful resources</a>
    </div>
</nav>