$blue: #002e6d;
$light-blue: #2e5ca1;
$turquoise: #00b2e3;
$orange: #ffa400;
$green: #76bc21;
$lavendar: #5887da;
$pink: #f44c7f;
$gray: #515151;

.blue {
    color: $blue;
}
.light-blue {
    color: $light-blue;
}
.turquoise {
    color: $turquoise;
}
.orange {
    color: $orange;
}
.green {
    color: $green;
}
.lavendar {
    color: $lavendar;
}
.pink {
    color: $pink;
}

.gray {
    color: $gray;
}

.bg-blue {
    background-color: $blue;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-turquoise {
    background-color: $turquoise;
}

.bg-orange {
    background-color: $orange;
}

.bg-green {
    background-color: $green;
}

.bg-lavendar {
    background-color: $lavendar;
}

.bg-pink {
    background-color: $pink;
}

.bg-gray {
    background-color: $gray;
}