.button {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &.turquoise {
        color: $turquoise;
    }  
    
    &__outline,
    &__solid {
        padding: 7px 34px 4px;
        font-weight: $font-weight-bold;
        line-height: 1.71875rem;
        border: thin solid white;        
        &--lg {
            padding: 13px 34px 8px;
        }
        &.turquoise {
            border-color: $turquoise;
        }
    }

    &__solid {
        border: none;

        &.turquoise {
            background-color: $turquoise;
            color: white;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        max-width: 20px;
        max-height: 20px;
        height: auto;
        
        &:first-child {
            margin-right: 8px;
        }
        &:last-child {
            margin-left: 8px;
        }
    }
    
}