.center {
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}
html, body, body > .wrapper {
    min-height: 100vh;
}
body > .wrapper {
    display: flex;
    flex-direction: column;
    > #main {
        flex-grow: 1;
    }
}

