#resources {
    #hero .jumbotron {
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: auto;
            overflow: hidden;
            svg {
                height: 100%;
                position: absolute;
                right: 0;
                bottom: -20px;
            }
        }
    }
    .article-list {
        justify-content: flex-start;
        align-content: flex-start;
        &__item {
            flex: 0 0 calc(25%  - 70px);
            // max-width: 25%;
        }
    }
    .featured {
        padding: 90px 0 0;
        &__title {

        }
        &__list {
            padding: 70px 0 100px;
        }
    }
}