#why-hire {
    .h2__alt {
        margin: 100px 0;
    }
    #hero {
        .jumbotron {
            &__background {
                // background-size: contain;
                // background-image: url('../images/hero-bg.svg');
                // background-position: top right;
                // background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                svg {
                    height: 80%;
                    position: absolute;
                    bottom: -4px;
                    right: 0;
                    path {
                        fill: $blue;
                    }
                }
            }

            &__wrapper .col:first-child {
                margin-right: 20%;
            }
        }
    }
    #client-commmitment {
        .row--side_by_side {
            .col > :first-child {
                margin-bottom: 50px;
            }
            img {
                width: 200px;
            }
        }
    }
    #adapt-changing-world h4 {
        margin-bottom: 40px;
    }
}