.article-list {
    color: $gray;
    margin: 0 -35px;
    display: flex;
    
    &__item {
        // justify-content: flex-end;
        align-items: flex-start;
        margin: 0 35px;

        // &:first-child {
        //     margin-left: 0;
        // }
        // &:last-child {
        //     margin-right: 0;
        // }

        &--image {
            height: 100%;
            max-height: 204px;
        }

        &--header {
            line-height: 1.775rem;
            
        }

        &--body,
        &--author,
        &--read-time {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        &--header,
        &--body,
        &--author,
        &--image,
        &--read-time {
            margin-bottom: 25px;
        }

        &--author {
            font-weight: $font-weight-medium;
            font-style: italic;
        }
        
        &--read-time {
            // flex-grow: 1;
            font-style: italic;
        }
    }
}

.qa-list {
    &__item {
        background-color: rgba(0, 188, 231, 0.35);
        padding: 20px 32px;
        margin-bottom: 14px;
        font-size: 1.25rem;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        &.open {            
            background-color: white;
            
            .qa-list__item--answer {
                display: block;
                p {
                    color: #777777;
                }
            }

            .qa-list__item--question {
                p {
                    color: #53565a;
                }
            }

            .qa-list__item--icon {
                background: url('../images/icon-minus.svg');
            }

        }
        &:last-child {
            margin-bottom: 0;
        }
        &--answer {
            display: none;
            margin: 36px 0 0;

            p {
                font-size: 1.25rem;
                line-height: 1.640625rem;
            }
        }

        &--icon {
            width: 14px;
            height: 14px;
            background: url('../images/icon-plus.svg');
            background-size: contain;
        }

        &--question {
            // padding: 18px 0;
            font-weight: $font-weight-bold;
            flex-direction: row;
            margin: 0;       
            align-items: center;
            p {
                font-size: 1.25rem;
                line-height: 1.640625rem;
                flex-grow: 1;
            }
        }
        
    }
}