$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-MediumItalic.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-Regular.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-RegularItalic.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-LightItalic.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-Medium.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-Light.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-Bold.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CFA Breuer Text';
  src: url('../fonts/CFABreuer/CFABreuerText-BoldItalic.woff2') format('woff2'),
    url('../fonts/CFABreuer/CFABreuerText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'CFA Breuer Text';
  color: white;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.002rem;
}

hr {
  // width: 100%;
  margin: 30px 35px 40px;
  border-width: 1px;
  border-style: solid;
  border-color: $light-blue;
}

.fontcase-unset {
  text-transform: unset !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, p {
  color:white;
}

.h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: $font-weight-bold;
}

.h2 {
  font-size: 4.0625rem;
  line-height: 4.8125rem;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  &__alt {
    border-top: 7px solid white;
    display: inline-block;
    padding-top:10px;
    &.orange {
      border-color: $orange;
    }

    &.green {
      border-color: $green;
    }

    &.blue {
      border-color: $blue;
    }

    &.light-blue {
      border-color: $light-blue;
    }
  }
}

.h3 {
  font-size: 3.125rem;
  font-weight: $font-weight-bold;
  line-height: 3.3125rem;
  letter-spacing: -0.01rem;
  &__alt {
    border-top: 7px solid white;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 10px;
    font-size: 3rem;
    &.orange {
      border-color: $orange;
    }

    &.green {
      border-color: $green;
    }

    &.blue {
      border-color: $blue;
    }

    &.light-blue {
      border-color: $light-blue;
    }
  }
}

.h4 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  &__alt {
    border-top: 4px solid white;
    display: inline-block;
    padding-top: 4px;
    font-size: 2.03125rem;
    line-height: 2.34375rem;
    &.orange {
      border-color: $orange;
    }

    &.green {
      border-color: $green;
    }

    &.blue {
      border-color: $blue;
    }

    &.light-blue {
      border-color: $light-blue;
    }
  }  
}

.h5 {
  font-size: 1.5625rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  &__alt {
    text-transform: unset;
    line-height: 2.34375rem;
  }
}

.h6 {
  font-size: 1.4375rem;
  line-height: 1.9375rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

sup {
  font-size: 30%;
  vertical-align: top;
  line-height: 166%;
  font-weight: $font-weight-regular;
}