#questions {
    .jumbotron__wrapper {
        padding-bottom: 0;
    }
    .featured__title {
        margin: 100px 0 70px;
    }
    #measure-up {
        padding: 120px 0 160px;
    }

    #download {
        padding-bottom: 120px;
        .row {
            .h2 {
                margin-bottom: 60px;
            }
            background-color: rgba(0, 168, 231, 0.35);
            .col {
                padding: 60px 170px;
            }
        }
    }
}